body {
  background-image: url("rugby.png");
  
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Sans-Serif;
  font-size: 15px;
}
#maindiv{
  text-align: left;
  width: 300px;
  border: 15px solid grey;
  border-radius: 25px;
  padding: 50px;
  margin: auto;
  background: rgba(220, 220, 220, 0.5);
}

#title{
  text-align:center;
}
